{
  "extends": [
    "./node_modules/rc-tools/lib/eslintrc.js"
  ],
  "rules": {
    "react/no-string-refs": 0,
    "react/no-render-return-value": 0,
    "react/prefer-es6-class": 0,
    "class-methods-use-this": 0,
    "no-restricted-properties": 0,
    "jsx-a11y/no-autofocus": 0,
    "no-restricted-globals": 0
  }
}
